<% @categories.each do |category| %>
  <nav class="menu hidden-xs">
    <ul>
      <li class="hidden-xs">
          <a href="/"><%= category.name_category %></a>
        <ul class="sub-menu">
          <li>
            <%= link_to item_category_path(@item.id) do %>
              <% @item_category.each do |item| %>
                <%= item.name_item_category %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
