<%= form_tag search_tour_path, method: "get" do %>
  <div class="form-info-search bg-dlnn pos-relative" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="triangle-up"></div>
          <div class="pad-tb">
            <div class="row">
              <div class="col-xs-12 mg-bot15">
                <div style="font-size: 16px;line-height: 24px;color: #212121;">
                  Nơi khởi hành:&nbsp;&nbsp;
                  <select class="nkh text-dlnn" id="departureIDOB" name="departureID"></select>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <div class="form-group outbound" style="position: relative;">
                  <div style="position: absolute;left: 16px; top: 18px;z-index:1;">
                    <%= image_tag "i-map2.png", alt: "map" %>
                  </div>
                  <div style="position: absolute;left: 50px; top: 12px;z-index:1;">
                    <span style="color: #f0433a;font-size: 14px;font-weight:500;">Điểm đến</span>
                  </div>
                  <select name="GroupId" id="GroupIdOB" class="chosen-select" style="display: none;">
                    <option value="0">Bạn muốn đi du lịch ở đâu?</option>
                  </select><div class="chosen-container chosen-container-single" title="" id="GroupIdOB_chosen" style="width: 0px;">
                    <a class="chosen-single">
                      <span>Bạn muốn đi du lịch ở đâu?</span>
                      <div><b></b></div>
                    </a>
                    <div class="chosen-drop">
                      <div class="chosen-search">
                        <input class="chosen-search-input" type="text" autocomplete="off">
                      </div>
                      <ul class="chosen-results"></ul>
                    </div></div>
                    <input type="hidden" name="TourTypeId" value="2">
                    <input type="hidden" name="ConCho" value="-1">
                    <input type="hidden" name="DongTour" value="0">
                    <input type="hidden" name="PriceId" value="0">
                    <input type="hidden" name="submitButton" value="SearchTour">
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="row" style="position: relative;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;">
                        <%= image_tag "i-calendar2.png", alt: "calendar" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;">
                        <span style="color: #f0433a;font-size: 14px;font-weight:500;">Từ ngày</span>
                      </div>
                      <input autocomplete="off" class="form-control new" name="DepartureDate" id="DepartureDateOB" type="text" value=" 21/05/2021" placeholder="21/05/2021">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;">
                        <%= image_tag "i-calendar2.png", alt: "calendar" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;">
                        <span style="color: #f0433a;font-size: 14px;font-weight:500;">Đến ngày</span>
                      </div>
                      <input autocomplete="off" class="form-control new" name="DepartureDateTo" id="DepartureDateToOB" type="text" value=" 21/06/2021" placeholder="21/06/2021">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 gb-tim">
                <div class="text-right">
                  <button type="submit" onclick="return checkSearch('departureIDOB');" class="btn btn-default btn-lg btn-timtour2"><i class="fas fa-search"></i>&nbsp;&nbsp;Tìm kiếm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
