<div id="__next">
  <div>
    <main>
      <div class="gray-container">
        <div class="container">
          <div class="Home_content__2fqOz">
            <div class="Home_left__2cDCN">
              <h3 class="Home_introTitle__1B7w8">Hành trình Xuyên Việt<br>Vì yêu, phải đi để hiểu</h3>
              <p class="Home_introText__3TEB2">Có thể bạn đã đi nhiều nơi trên thế giới, đến nhiều quốc gia và am hiểu về văn hóa của họ. Nhưng đã bao giờ bạn tự hỏi bản thân rằng, mình đã hiểu được trọn vẹn về nước Việt thân yêu? Đã thật sự hiểu về ý nghĩa của những cột mốc chủ quyền hay đời sống văn hóa, ẩm thực của người dân? Đã hiểu sâu sắc về những giá trị không thể đo lường mà Việt Nam đã được thiên nhiên ưu ái? Bạn tin mình sẽ làm được điều đó trên chính quê hương mình?<br><br>Cũng như hàng triệu người Việt Nam khác, bạn nghĩ chắc chắn mình sẽ đi một lần trong đời. Vì yêu, nên phải đi để hiểu. Không thể không đi. Vào một ngày nào đó trong tương lai. Vậy tại sao không phải là ngay bây giờ?<br><br>Hành trình 19 ngày với chủ đề Tôi yêu Việt Nam mà Vietravel tận tâm xây dựng là hành trình 7 chặng thong thả, an toàn, để mỗi chúng ta đắm mình trong những vẻ đẹp của cảnh và người, để hiểu sâu về văn hóa các vùng miền, để dâng trào cảm xúc tự hào dân tộc và thêm yêu Tổ quốc. Mỗi chuyến đi là một kỷ niệm không thể nào quên! Hãy đi để cảm nhận vẻ đẹp của một Việt Nam trong tim mỗi người.</p>
              <div class="Home_showMoreButton__2RRNF"><a>Xem thêm</a></div>
              <div>
                <p class="tourSelector_title__1kFyA">Trải nghiệm hành trình</p>
                <div class="react-tabs" data-tabs="true">
                  <ul class="react-tabs__tab-list" role="tablist">
                    <li class="react-tabs__tab react-tabs__tab--selected" role="tab" id="react-tabs-0" aria-selected="true" aria-disabled="false" aria-controls="react-tabs-1" tabindex="0">Xuyên Việt</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-2" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-3">Chặng 1</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-4" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-5">Chặng 2</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-6" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-7">Chặng 3</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-8" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-9">Chặng 4</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-10" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-11">Chặng 5</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-12" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-13">Chặng 6</li>
                    <li class="react-tabs__tab" role="tab" id="react-tabs-14" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-15">Chặng 7</li>
                  </ul>
                  <div class="react-tabs__tab-panel react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-1" aria-labelledby="react-tabs-0">
                    <div class="tourSelector_tabDescription__2yTz5"></div>
                    <div>
                      <p>Điểm khởi hành</p>
                      <div class="tourSelector_departure__3M-AK">
                        <div class="tourSelector_departureItem__2pYkO tourSelector_active__1QRLm">Hà Nội</div>
                        <div class="tourSelector_departureItem__2pYkO">Hồ Chí Minh</div>
                      </div>
                      <p>Không tìm thấy tour nào</p>
                    </div>
                  </div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-3" aria-labelledby="react-tabs-2"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-5" aria-labelledby="react-tabs-4"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-7" aria-labelledby="react-tabs-6"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-9" aria-labelledby="react-tabs-8"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-11" aria-labelledby="react-tabs-10"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-13" aria-labelledby="react-tabs-12"></div>
                  <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-15" aria-labelledby="react-tabs-14"></div>
                </div>
              </div>
            </div>
            <div class="Home_right__1Gpd-">
              <div class="Home_mapWrapper__1KDr1">
                <div id="map" class="map">
                  <div id="m1" style="opacity: 1; z-index: 0;"><img src="/images/map/M1-hover.png" alt=""></div>
                  <div id="m2" style="opacity: 1; z-index: 0;"><img src="/images/map/M2-hover.png" alt=""></div>
                  <div id="m3" style="opacity: 1; z-index: 0;"><img src="/images/map/M3-hover.png" alt=""></div>
                  <div id="m4" style="opacity: 1; z-index: 0;"><img src="/images/map/M4-hover.png" alt=""></div>
                  <div id="m5" style="opacity: 1; z-index: 0;"><img src="/images/map/M5-hover.png" alt=""></div>
                  <div id="m6" style="opacity: 1; z-index: 0;"><img src="/images/map/M6-hover.png" alt=""></div>
                  <div id="m7" style="opacity: 1; z-index: 0;"><img src="/images/map/M7-hover.png" alt=""></div>
                  <div id="hs"><img src="/images/map/HS.png" alt=""></div>
                  <div id="ts"><img src="/images/map/TS.png" alt=""></div>
                  <div id="pq"><img src="/images/map/PQ.png" alt=""></div>
                  <div id="name"><img src="/images/map/name.png" alt=""></div>
                  <div id="line">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 2006 4030">
                      <line class="active" x1="860.9" y1="73.6" x2="553.4" y2="372.1">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="545" y1="417.3" x2="585" y2="676.5">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="574.2" y1="718.7" x2="465.2" y2="986.1">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="466.4" y1="1023.1" x2="708.2" y2="1263.4">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="731" y1="1295" x2="1097.7" y2="1713.3">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1126.3" y1="1748" x2="1312.8" y2="1915.2">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1343.3" y1="1950.7" x2="1391.9" y2="2050.2">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1410.4" y1="2096.4" x2="1507" y2="2431.2">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1511" y1="2476.4" x2="1546.5" y2="2971.3">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1528.8" y1="3009.9" x2="1262.2" y2="3314.3">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="1220.5" y1="3326" x2="865" y2="3433">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="818" y1="3446.8" x2="417.5" y2="3556.3">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="409.3" y1="3581.4" x2="582.1" y2="3778.7">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                      <line class="active" x1="583.1" y1="3820.7" x2="363.5" y2="3970">
                        <animate attributeName="stroke" values="#2f80ed;#83b4f7;#2f80ed" dur="1.5s" repeatCount="indefinite"></animate>
                      </line>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
