<div class="n3-form-search" style="z-index: initial; position: initial; background: rgb(241, 241, 241);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="frame-search">
          <div class="o-dl hvtt">
            <a href="https://xuyenviet.travel.com.vn/" target="_blank">
              <i class="iconT-i-c5 mg-b"></i>
              <p class="text1">Tour</p>
              <p class="text2 text-hvtt">Xuyên Việt</p>
            </a>
          </div>
          <div class="o-dl dltn">
            <i class="iconT-i-c1 mg-b"></i>
            <p class="text1">Tìm tour</p>
            <p class="text2 text-dltn">Trong nước</p>
          </div>
          <div class="o-dl vmb">
            <div class="vua"><img src="https://travel.com.vn/content/themehe/img/vietravel-airlines-logo-116px.png" alt="Vietravel Airlines"></div>
            <p class="text1"></p>
            <p class="text2 text-dlnn">Vé máy bay</p>
          </div>
          <div class="o-dl dltc">
            <i class="iconT-i-c6 mg-b"></i>
            <p class="text1">Dịch vụ</p>
            <p class="text2 text-dltc">Vé máy bay / Xe + khách sạn</p>
          </div>
          <div class="o-dl combo">
            <a href="https://travel.com.vn/Hotel/Destination">
              <i class="iconT-i-c3 mg-b"></i>
              <p class="text1">Dịch vụ</p>
              <p class="text2 text-combo">Khách sạn</p>
            </a>
          </div>
          <div class="o-dl tttc">
            <i class="iconT-i-c4 mg-b"></i>
            <p class="text1">Tìm kiếm</p>
            <p class="text2 text-dltt">Booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="frmsDL">
    <%= render partial: 'shared/search_forms/tour_search_first' %>
    <%= render partial: 'shared/search_forms/tour_search_first_1' %>
    <%= render partial: 'shared/search_forms/combo_search_first' %>
    <%= render partial: 'shared/search_forms/booking_search_first' %>

    <div class="form-info-search bg-vmb pos-relative" style="display: none;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="triangle-up"></div>
            <div class="pad-tb">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <div class="row">
                    <div class="tab-content" id="Booking">
                      <div class="booking-box">
                        <form action="#" class="frm-booking step2" id="Booking" method="get">
                          <h3 class="intro">Xin chào, bạn muốn đi đâu? </h3>
                          <div class="wrap-col">
                            <div class="inp-col">
                              <div class="form-group">
                                <div class="drp-location dropbtn">
                                  <div class="icon-box"><i class="icon-location-pin icons"></i></div>
                                  <p class="placeholder">Điểm đi</p>
                                  <p class="dropval"></p>
                                  <div class="input-holder"></div>
                                  <input type="text" name="des_filter_from" value="" readonly="" class="inp-filter">
                                  <input type="hidden" name="flight_from" id="flight_from" class="form-control" required="">

                                  <div id="flightFrom" class="dropdown-content">
                                    <div class="inn" id="pfrom"><h4 class="title-list">Trong nước</h4><ul class="des-list"><li><a data-option="0" data-index="0"><span class="name">Tp. Hồ Chí Minh</span><span class="cd">SGN</span></a></li><li><a data-option="0" data-index="1"><span class="name">Hà Nội</span><span class="cd">HAN</span></a></li><li><a data-option="0" data-index="2"><span class="name">Đà Nẵng</span><span class="cd">DAD</span></a></li><li><a data-option="0" data-index="3"><span class="name">Phú Quốc</span><span class="cd">PQC</span></a></li><li><a data-option="0" data-index="4"><span class="name">Đà Lạt</span><span class="cd">DLI</span></a></li></ul></div>


                                  </div>

                                </div>

                              </div>
                            </div>

                            <div class="inp-col">
                              <div class="form-group">
                                <div class="drp-location dropbtn">
                                  <div class="icon-box"><i class="icon-location-pin icons"></i></div>
                                  <p class="placeholder">Điểm đến</p>
                                  <p class="dropval" id="dropvalto"></p>
                                  <input type="text" name="des_filter_to" value="" class="inp-filter" readonly="">
                                  <input type="hidden" name="flight_to" id="flight_to" class="form-control" required="">

                                  <div id="flightTo" class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <div class="inn" id="pto">
                                      </div>


                                    </div>
                                    <div class="close-bar">
                                      <button><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>

                            <div class="inp-col st2">
                              <div class="inp-place drp-date">
                                <div class="icon-box"><i class="far fa-calendar-alt"></i></div>
                                <div class="col-md-8 col-sm-8 col-xs-8 date-left">
                                  <div class="date-start">
                                    <p class="placeholder small">Ngày đi</p>
                                    <input type="hidden" name="date_start" id="date_start" value="" class="form-control">
                                  </div>
                                  <div class="date-end">
                                    <p class="placeholder small">Ngày về</p>
                                    <input type="hidden" name="date_end" id="date_end" value="" class="form-control">
                                  </div>
                                  <div class="datestartend">
                                    <input type="text" id="datestartview" class="form-control dshow" readonly="">
                                    <input type="text" id="datestart" class="form-control dhidden" style="height:1px;font-size:0px;color:#fff;background-color:#fff;" readonly="" required="">
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 date-right"><span><input type="checkbox" id="singleDatePicker"><br>Một chiều</span></div>
                              </div>

                            </div>

                            <div class="inp-col st2">
                              <div class="inp-place drp-customer">
                                <div class="icon-box"><i class="fal fa-user-friends"></i></div>
                                <div class="wr-inp drd-btn">
                                  <p class="placeholder small">Hành khách</p>
                                  <input type="text" name="customer_type" id="customer_type" value="1 Người lớn" readonly="" class="form-control customer_filter" required="">
                                  <div class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <p class="title-option">&nbsp;</p>
                                      <ul class="list-option">
                                        <li>
                                          <div class="wr-type adults">
                                               Người lớn
                                               <div class="num-func">
                                                 <input type="number" name="num_adults" id="num_adult" value="1" class="custom-num">
                                                 <div class="btn-row">
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                                 </div>
                                               </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="wr-type child">
                                               Trẻ em
                                               <div class="num-func">
                                                 <input type="number" name="num_child" id="num_child" value="0" class="custom-num">
                                                 <div class="btn-row">
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                                 </div>
                                               </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="wr-type infant">
                                               Trẻ sơ sinh
                                               <div class="num-func">
                                                 <input type="number" name="num_infant" id="num_infant" value="0" class="custom-num">
                                                 <div class="btn-row">
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                   <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                                 </div>
                                               </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="close-bar">
                                      <button onclick="return closeDrdCustomer();"><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>

                            <div class="inp-col st2">
                              <div class="inp-place drp-ticket">
                                <div class="icon-box"><i class="fal fa-ticket-alt"></i></div>
                                <div class="wr-inp drd-btn">
                                  <p class="placeholder small">Hạng vé</p>
                                  <input type="text" name="ticket_type" value="Phổ thông" readonly="" class="form-control eco-color ticket_filter" required="">
                                  <div class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <p class="title-option">Chọn hạng vé</p>
                                      <ul class="list-option">
                                        <li class="active">
                                          <label class="custom-lbl">
                                            <span class="ticket_name"> Phổ thông</span>
                                            <input type="radio" checked="checked" class="ticket_value" value="0" name="ticket_option">
                                            <span class="checkmark"></span>
                                          </label>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="close-bar">
                                      <button onclick="return closeDrdTicket();"><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="inp-col col-submit">
                              <button type="button" class="btn btn-custom btnFightSearch">Xem chuyến bay</button>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
