<div id="detail" class="n3-book-tour-1" style="margin-top:20px;margin-bottom:60px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" style="margin-bottom:30px">
        <h2 class="title">Lỗi không tìm thấy nội dung</h2>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-12 hidden-xs"></div>
          <div class="col-md-10 col-sm-10 col-xs-12">
            <div
              style="border-radius: 4px; padding: 15px; text-align: center; font-size: 16px; background: rgb(245, 244, 239); --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#29261a;"
              data-darkreader-inline-bgimage=""
              data-darkreader-inline-bgcolor="">
              <p style="margin-bottom:5px; line-height:22px;font-weight:initial !important">Nội dung bạn đang tìm không tồn tại hoặc đã bị gỡ bỏ khỏi website.</p>
              <p style="margin-bottom:5px; line-height:22px;font-weight:initial !important">Để chắc chắn bạn hãy thử lại hoặc sử dụng các tiện ích sau của chúng tôi.</p>
              <p style="margin-bottom:5px; line-height:22px;font-weight:initial !important">- Hoặc bạn có thể
                <a class="price" href="/lien-he.aspx">liên hệ</a>
                với chúng tôi.</p>
              <p style="margin-bottom:5px; line-height:22px;font-weight:initial !important">- Quay trở về
                <a class="price" href="/">trang chủ</a>.</p>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12 hidden-xs"></div>
        </div>
      </div>
      <div class="col-xs-12 text-center" style="margin-top:40px;margin-bottom:30px">
        <a class="btn btn-md btn-book" href="/">Về trang chủ</a>
      </div>
    </div>
  </div>
</div>
